body {
    background-color: #f7f7f7;
}

:root {
    --primary-color: #00449C;
    --secondary-color: #707070;
    --dark-color: #1F2020;
    --color-orange: #ff6600;
    --crms-topbar-item-border: #E8E8E8;
    --crms-topbar-item-shadow: 0px 4px 4px 0px #DBDBDB40;
    --crms-primary-rgb: 228, 31, 7;
    --crms-success-rgb: 26, 190, 23;
    --border-color: #E8E8E8;
    --box-shadow: 0px 4px 4px 0px rgba(219, 219, 219, 0.25);
    --light-text: #4a4a4a;
    --color-white: #fff;
}

.form-select {
    padding: .375rem 2.25rem .375rem .75rem !important;
    background-position: right 0.25rem center !important;
}

.btn-orange {
    background-color: var(--color-orange);

    border-color: var(--color-orange);
    color: var(--color-white);
}

.color-primary {
    color: var(--primary-color);
}

.text-orange {
    color: var(--color-orange);
}

.btn-outline-white {
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-outline-white:hover {
    background-color: var(--color-orange);
    color: #000;
    border-color: var(--color-orange);
    transition: all 0.3s ease;
}

.orange-hoverbtn:hover {
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    color: var(--color-orange) !important;
    transition: all 0.3s ease;
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.btnType1,
.btnType1:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
}

.mainHeader {
    border-bottom: 1px solid #e5e5e5;
}

.top-bar {
    background-color: #f8f9fa;
    font-size: 14px;
    padding: 5px 0;
}

.search-bar {
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    overflow: hidden;
}

.search-btn {
    background: var(--primary-color);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: var(--color-white);
}

.search-bar select,
.search-bar input {
    border: none;
    box-shadow: none;
}

.search-bar input:focus {
    outline: none;
    box-shadow: none;
}


.post-btn {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 20px;
    border: none;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
}

.logo-text span {
    color: #dc3545;
}

.centerMenu .navbar-nav .nav-link.active {
    color: var(--color-orange);
}

.centerMenu .navbar-nav .nav-link {
    color: var(--dark-color);
    margin-right: 15px;
}

.centerMenu .navbar-nav .nav-link:hover {
    color: var(--color-orange);
    transition: all 0.3s ease;
}

.bgCarouselImg img {
    height: 85vh;
    width: 100%;
}

.firstHead h1 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

.categoriesGrid {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    gap: 15px;
}

.cateImg img {
    width: 100%;
}

.cateBox,
.productBox {
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    transition: 0.6s;
}

.cateBox:hover,
.productBox:hover {
    box-shadow: 0px 3px 3px #e0e0e0;
    transition: all 0.3s ease;
}

.countspan {
    background: var(--color-orange);
    display: inline-block;
    position: absolute;
    padding: 3px 8px;
    color: var(--color-white);
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 2px solid;
}

.cateImg {
    position: relative;
}

.productSection {
    background-color: #f3f3f3;
}

.middlepro {
    gap: 12px;
    grid-template-columns: 40% 60%;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
}


.ProImg.ProImgDetail {
    max-width: 125px;
    min-width: 125px;
}

.ProImg img {
    max-width: 100%;
    min-height: 125px;
}

.cateproduct p {
    color: var(--color-orange);
}

.ComImg img {
    height: 86px;
    padding: 6px;
}

/* footer-part-start */
.mainFooter {
    background: linear-gradient(180deg, #0a4ca3, #033b85);
    color: var(--color-white);
    font-size: 14px;
    padding: 40px 0 10px;
}

.mainFooter a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    padding-bottom: 4px;
    display: block;
}

.mainFooter a:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
}

.footer-logo img {
    height: 55px;
}

.supporting-logos img {
    height: 40px;
    margin-left: 5px;
}

.footer-section-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-border {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 34px;
}

.social-icons a {
    color: var(--color-white);
    margin-right: 10px;
    font-size: 16px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    padding-top: 10px;
    font-size: 13px;
}

/* footer-part-end */

.innervideo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #00449c0a;
    object-position: top;
}

.commonHead {
    background-image: linear-gradient(16deg, #609cec, #033b85);
}

.ticketicon i {
    font-size: 30px;
}

.card.supportTicket {
    background-color: #deebfc;
    border: 1px solid var(--primary-color);
    transition: 0.7s;
}

.card.supportTicket:hover {
    background-color: var(--primary-color);
    border: 1px solid #deebfc;
    transition: all 0.3s ease;
}

.card.supportTicket:hover h6,
.card.supportTicket:hover i {
    color: var(--color-white);
    transition: all 0.3s ease;
}

.productTable th {
    padding-left: 0;
    font-weight: 600;
    color: var(--primary-color);
}

/* Product detail css starts */
.companyLogo {
    height: 124px;
    object-fit: contain;
    border: 1px solid #eeeeee;
}

.ContentBox:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.company-card img {
    object-fit: contain;
    height: auto;
}

.products-list-cards .card-title {
    font-size: 1.025rem;
    color: var(--primary-color);
}

.products-list-cards .card-text {
    margin-bottom: 0.5rem;
    color: #4a4a4a;
}

.products-list-cards img {
    height: 180px;
}

.listviewimg {
    min-width: 200px;
    height: 100%;
}

.gridviewimg {
    height: 200px;
    overflow: hidden;
}

.recommended-companies-carousel .swiper-slide p {
    min-height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Product detail css ends */

/* Enquiry css starts */
.compnaylogo {
    place-content: center;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    min-height: 90px;
    width: auto;
}

.userbadge {
    font-size: 9px !important;
    bottom: 0px;
    right: -25px;
}

/* Swiper slider css starts */
.swiper-slide.swiper-slide-visible.swiper-slide-fully-visible {
    place-content: center;
}

/* Swiper slider css starts */

/* nav tabs css starts */
button.nav-link.active,
button.nav-link.active:hover {
    border-bottom: 2px solid var(--color-orange) !important;
    border: 0px;
    color: var(--color-orange) !important;
    font-weight: 600;
}

button.nav-link {
    color: var(--primary-color) !important;
    font-weight: 500;
}

.nav-item,
button.nav-link,
.nav-item:hover,
button.nav-link:hover {
    border: var(--color-white) !important;
}

/* nav tabs css ends */

/* company details css starts */
.comapnycardlogo img {
    min-height: 90px;
    min-width: 90px;
}

.comapnycardlogo h5 {
    font-size: 1.125rem;
}

/* .companyitems.companylocation p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* CSS for improved list view */
.list-view-card {
    border-left: 4px solid #0d6efd;
    transition: all 0.3s ease;
}

.list-view-card:hover {
    background-color: #f9f9f9;
}

/* Two-line ellipsis for location */
.companyitems.companylocation p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Orange badge */
.bg-orange {
    background-color: #f57c00;
    color: white;
}


/* company details css ends */